.whoWeAre {
  display: flex;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 3.125em;
  background: linear-gradient(95.66deg, rgba(214, 234, 229, 0.5) 5.24%, rgba(167, 209, 206, 0.5) 94.02%);
  margin-top: 1.875em;
  margin-bottom: 5em;
}
.whoWeAre .descriptionHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.8125em;
  color: #3e5856;
  margin-bottom: 0.25em;
}
.whoWeAre .descriptionSubText {
  display: flex;
  max-width: 35em;
}
.qualityOverQuantity {
  display: grid;
  justify-items: center;
  gap: 2em;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
}
.qualityOverQuantity #textContainer {
  display: flex;
  gap: 1em;
  color: #3e5856;
  margin-left: 5em;
  margin-right: 5em;
  flex-direction: column;
  align-items: center;
}
.qualityOverQuantity #textContainer #qualityHeader {
  font-size: 2.8125em;
  color: #3e5856;
}
.qualityOverQuantity #textContainer #qualityServicesIntro {
  max-width: 40.625em;
  text-align: center;
}
.qualityOverQuantity .serviceCards {
  display: flex;
  align-items: center;
  margin-left: 3em;
  margin-right: 2em;
}
.qualityOverQuantity button {
  width: 14em;
  height: 3em;
  border-radius: 0.5em;
  background: #faad00;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 1em;
}
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
}
.formContainer .contactInfo .contactHeader {
  color: #3e5856;
}
.formContainer .contactInfo .contactDetails {
  padding-top: 3em;
}
.formContainer .contactInfo .contactDetails .phoneLink {
  padding-top: 1em;
}
.formContainer .contactInfo .contactDetails p > a {
  text-decoration: none;
  color: #000000cc;
}
.formContainer .contactInfo .contactDetails p > a:hover {
  color: #00bbffcc;
}
.formContainer button {
  width: 14em;
  height: 3em;
  border-radius: 0.5em;
  background: #faad00;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 1em;
}
