.whoWeAre {
  display: flex;
  justify-content: space-between;
  margin-left: 16/16em;
  margin-right: 16/16em;
  border-radius: 50/16em;
  background: linear-gradient(
    95.66deg,
    rgba(214, 234, 229, 0.5) 5.24%,
    rgba(167, 209, 206, 0.5) 94.02%
  );
  margin-top: 30/16em;
  margin-bottom: 80/16em;

  .descriptionHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 45/16em;
    color: #3e5856;
    margin-bottom: 4/16em;
  }

  .descriptionSubText {
    display: flex;
    max-width: 560/16em;
  }
}
