//who we are section start
.whoWeAre {
  display: flex;
  justify-content: space-between;
  margin-left: 16/16em;
  margin-right: 16/16em;
  border-radius: 50/16em;
  background: linear-gradient(
    95.66deg,
    rgba(214, 234, 229, 0.5) 5.24%,
    rgba(167, 209, 206, 0.5) 94.02%
  );
  margin-top: 30/16em;
  margin-bottom: 80/16em;

  .descriptionHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 45/16em;
    color: #3e5856;
    margin-bottom: 4/16em;
  }

  .descriptionSubText {
    display: flex;
    max-width: 560/16em;
  }
}
//who we are section end

//quality over quantity section start
.qualityOverQuantity {
  display: grid;
  justify-items: center;
  gap: 32/16em;
  width: 100%;
  padding-top: 80/16em;
  padding-bottom: 80/16em;

  #textContainer {
    display: flex;
    gap: 16/16em;
    color: #3e5856;
    margin-left: 80/16em;
    margin-right: 80/16em;
    flex-direction: column;
    align-items: center;

    #qualityHeader {
      font-size: 45/16em;
      color: #3e5856;
    }
    #qualityServicesIntro {
      max-width: 650/16em;
      text-align: center;
    }
  }
  .serviceCards {
    display: flex;
    align-items: center;
    margin-left: 48/16em;
    margin-right: 32/16em;
  }

  button {
    width: 224/16em;
    height: 48/16em;
    border-radius: 8/16em;
    background: #faad00;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 16/16em;
  }
}
//quality over quantity section end

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160/16em;

  .contactInfo {
    .contactHeader {
      color: #3e5856;
    }
    .contactDetails {
      padding-top: 48/16em;

      .phoneLink {
        padding-top: 16/16em;
      }
      p > a {
        text-decoration: none;
        color: #000000cc;
      }
      p > a:hover {
        color: #00bbffcc;
      }
    }
  }

  form {
    span.formHeader {
      img {
        padding-bottom: 32/16em;
      }
    }
    input {
      border: 0px;
      border-bottom: 1px solid gray;
      margin-bottom: 16/16em;
      outline: none;
    }
  }

  button {
    width: 224/16em;
    height: 48/16em;
    border-radius: 8/16em;
    background: #faad00;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 16/16em;
  }
}
