@media only screen and (min-width: 2000px) {
  body,
  html {
    font-size: 0.85vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  display: block;
}
header {
  width: 100%;
  z-index: 999;
  position: relative;
}
header #headerImg {
  width: 7em;
  height: auto;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav ul.navMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav li {
  font-size: 1.25em;
  list-style: none;
  margin-left: 0.875em;
  margin-right: 0.875em;
  padding-top: 0.1875em;
}
nav a {
  color: black;
  text-decoration: none;
}
nav a:visited {
  background-color: red;
}
nav a:hover {
  color: turquoise;
}
