@media only screen and (min-width: 2000px) {
  body,
  html {
    font-size: 0.85vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  display: block;
}

header {
  width: 90%;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 4%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a#imgLink {
    height: 90px;
    width: 90px;
    overflow: hidden;
    margin-left: 20px;
  }
  #headerImg {
    width: 112/16em;
    height: auto;
  }

  ul.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  li {
    font-size: 20/16em;
    list-style: none;
    margin-left: 14/16em;
    margin-right: 14/16em;
    padding-top: 3/16em;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:visited {
    background-color: red;
  }
  a:hover {
    color: turquoise;
  }
}
