@media only screen and (min-width: 2000px) {
  body,
  html {
    font-size: 0.85vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  display: block;
}

header {
  width: 90%;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 4%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a#imgLink {
    height: 90px;
    width: 90px;
    overflow: hidden;
    margin-left: 20px;
  }
  #headerImg {
    width: 112/16em;
    height: auto;
  }

  ul.navMenu {
    display: flex;
    // flex-direction: row;
    justify-content: space-around;
  }

  li {
    font-size: 20/16em;
    list-style: none;
    margin-left: 14/16em;
    margin-right: 14/16em;
    padding-top: 3/16em;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:visited {
    background-color: red;
  }
  a:hover {
    color: turquoise;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 30/16em;
  height: 3.2/16em;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: black;
}

@media only screen and (max-width: 700px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    position: fixed;
    left: -100%;
    top: 96/16em;
    flex-direction: column;
    background-color: antiquewhite;
    text-align: center;
    width: 100%;
    transition: 0.3s;
  }

  .navMenu.active {
    left: 0;
  }
}

.landingSection {
  height: 480/16em;
  background: linear-gradient(180deg, #d6eae5 0%, #a7d1ce 100%);
}

.cta {
  background: white;
  position: absolute;
  display: flex;
  top: 120px;
  border-radius: 11px;
  width: 21em;
  height: auto;
  left: 2em;
  justify-content: center;
}

#uiUx {
  background-color: #faad00;
  border-radius: 15px;
  margin-right: 5px;
  margin-left: 9px;
  position: relative;
}
