@media only screen and (min-width: 2000px) {
  body,
  html {
    font-size: 0.85vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  display: block;
}
header {
  width: 90%;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 4%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav a#imgLink {
  height: 90px;
  width: 90px;
  overflow: hidden;
  margin-left: 20px;
}
nav #headerImg {
  width: 7em;
  height: auto;
}
nav ul.navMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav li {
  font-size: 1.25em;
  list-style: none;
  margin-left: 0.875em;
  margin-right: 0.875em;
  padding-top: 0.1875em;
}
nav a {
  color: black;
  text-decoration: none;
}
nav a:visited {
  background-color: red;
}
nav a:hover {
  color: turquoise;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: black;
}
@media only screen and (max-width: 780px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navMenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: lightgray;
    width: 73.5vw;
    text-align: center;
    transition: 0.3s;
  }
  .navItem {
    margin: 16px 0;
  }
  .navMenu.active {
    left: 0;
  }
}
