.getInTouchCountainer {
  display: grid;
  justify-items: center;
  gap: 32/16em;
  width: 100%;
  padding-top: 80/16em;
  padding-bottom: 80/16em;

  #textContainer {
    display: flex;
    gap: 16/16em;
    color: #3e5856;
    margin-left: 80/16em;
    margin-right: 80/16em;
    flex-direction: column;
    align-items: center;
    max-width: 352/16em;
    text-align: center;
    color: #3e5856cc;
    font-style: Plus Jakarta Sans;

    #touchHeader {
      font-size: 45/16em;
      color: #3e5856;
      #in {
        color: #faad00;
      }
    }
  }
}


.contactForm{
  margin-bottom: 160/16em;
  .formContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    border: 2px solid #d6eae5;
    border-radius: 1em;
    justify-items: center;

    .contactInfo {
      display: grid;
      grid-template-columns: 1fr;
      background: linear-gradient(180deg, #3E5856 50%, #096D7A 100%);
      border-radius: 8/16em;
      margin-bottom: 16/16em;
      .contactHeader {
        color: #ffffff;
        font-size: 24/16em;
        padding-top: 32/16em;
        padding-left: 32/16em;
      }
      .contactDetails {
        padding-top: 48/16em;
        padding-left: 32/16em;
        padding-right: 32/16em;
        padding-bottom: 112/16em;
    
  
        .phoneLink {
          padding-top: 16/16em;
        }
        i{
          color: #ffffff;
        }
        p > a {
          text-decoration: none;
          color: #ffffff;
          font-size: 16/16em;
        }
        p > a:hover {
          color: #00bbffcc;
        }
      }
    }
    form {
      span.formHeader {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: max-content;
        h2 {
          font-size: 45/16em;
        }
        img {
          padding-bottom: 32/16em;
        }
      }
  
      .inputFieldHeader {
        font-size: 12/16em;
        font-weight: normal;
        color: #3e5856cc;
      }
  
      input {
        border: 0px;
        border-bottom: 1px solid gray;
        margin-bottom: 16/16em;
        outline: none;
        // width: 320/16em;
      }
  
      .messageBox {
        display: grid;
        padding: 8/16em;
        width: 480/16em;
  
        #messageText {
          border: none;
          border-bottom: 1px solid;
          outline: none;
          resize: none;
          height: 96/16em;
        }
      }
      // .labelContainer{
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      // }
    }
  }
}

@media only screen and(max-width: 768px) {
  .contactForm{
  .formContainer {
    display: flex;
    flex-direction: column;

    form .messageBox {
      width: auto;
    }
  }
}}
