.projects #projectHeader {
  display: flex;
  justify-content: center;
  font-family: Plus Jakarta Sans;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  text-align: center;
}
.projects #projectHeader span {
  font-family: Plus Jakarta Sans;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  text-align: center;
}
.projects .projectsContainer {
  display: flex;
  gap: 3em;
  margin-top: 3em;
  margin-bottom: 3em;
  align-items: center;
  justify-content: center;
}
.projects .projectsContainer .projectContainer {
  display: flex;
  gap: 3em;
  margin-top: 3em;
  margin-bottom: 3em;
}
.projects .projectsContainer .projectContainer .projectContent {
  display: grid;
  grid-gap: 1em;
  border: 2px solid #d6eae5;
  border-radius: 1em;
  justify-items: center;
}
.projects .projectsContainer .projectContainer .projectContent .imgLinkContainer {
  max-width: 30em;
  height: 20em;
}
.projects .projectsContainer .projectContainer .projectContent .imgLinkContainer a {
  height: inherit;
  display: block;
}
.projects .projectsContainer .projectContainer .projectContent .imgLinkContainer a img {
  height: inherit;
  border-radius: 1em;
}
.projects .projectsContainer .projectContainer .projectContent .siteName {
  color: #333333;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
  text-align: left;
}
.projects .projectsContainer .projectContainer .projectContent p {
  max-width: 30em;
  color: #333333cc;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}
