.projects {
  display: flex;
  gap: 3em;
  margin-top: 3em;
  margin-bottom: 3em;
  .projectContainer {
    .projectContent {
      display: grid;
      grid-gap: 1em;
      border: 2px solid #d6eae5;
      border-radius: 1em;
      justify-items: center;
    }
  }
}
