body {
  background-color: #000000;
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
main .thankYouMsg {
  display: grid;
  justify-items: center;
  width: 75%;
  max-width: 364px;
  padding: 24px;
  background: white;
  border-radius: 8px;
}
main .thankYouMsg a {
  font-size: 1.125em;
  text-decoration: none;
  color: #464646;
}
